body {
	font-family: 'Roboto Mono', monospace;
}

.row div {
	padding:0;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	text-align:center;
	color:white;
}

#boop {
	font-family: 'Roboto Mono', monospace;
	color:black;
}

.home-jumbotron {
/*	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/smiling-bolo.PNG");*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/smiling-bolo.PNG");
	background-position: left;
	background-repeat: no-repeat;
	/*padding-top: 30em;*/
	/*padding-bottom:30em;*/
	height: calc(85vh - 56px);
	background-size:cover;

}

.shop-jumbotron {
	background-image: url("assets/shop-background.png");
	background-color:white;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	background-size:contain;
	background-attachment: fixed;
}

.hero-text {
	/*padding-top:calc(100vh - 750px);*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.beep {
	color:rgb(48,48,51);
	text-align:center;
}

.shop-hero-text {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	/*border: 0.25em solid rgb(48,48,51);*/
  	padding: 10em 3em;
  	/*padding-top: 10em;*/
}

.nav-style {
	margin: 0 12px;
}

strong {
	font-size: 48px;
}

p {
	line-height:2;
}


form {
	text-align:center;
}

#coming-soon {
	font-size:24px;
	padding-top:1em;
}

#submit-button {
	margin-top:1em;
}

#filler {
	color:rgba(48, 48, 51, 0);
}


#cost {
	margin-bottom:-30px;
}
